@use "../utils" as *;

.header {
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle{
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color2);
  }
}
